<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <title>Document</title>
</head>
<body>
        <form  action="/signup" method="POST" style="border:1px solid #ccc">
            <% include partials/login_fields.ejs %>
                <button type="submit" class="signupbtn">Sign Up</button>
          </form>
          
</body>
</html>